Architecture: amd64
Depends: libpq5,
	 libqt5core5a,
	 libqt5gui5,
	 libqt5multimedia5,
	 libqt5multimedia5-plugins,
	 libqt5network5,
	 libqt5pdf5,
	 libqt5pdfwidgets5,
	 libqt5printsupport5,
	 libqt5sql5,
	 libqt5sql5-psql,
	 libqt5sql5-sqlite,
	 libqt5widgets5,
	 libyaz5
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: BiblioteQ
Priority: optional
Section: Database
Version: 2025.11.22
Description: BiblioteQ
 Welcome to BiblioteQ on Debian!
 BiblioteQ is governed by a BSD license. Enjoy!
 A biblioteq.desktop file will also be installed in /usr/share/applications/.
