Architecture: amd64
Depends: libpoppler-qt5-1 (>= 0.41), libpq5 (>= 5.8), libqt5core5a (>= 5.5.1), libqt5gui5 (>= 5.5.1), libqt5network5 (>= 5.5.1), libqt5printsupport5 (>= 5.5.1), libqt5sql5 (>= 5.5.1), libqt5sql5-psql (>= 5.5.1), libqt5widgets5 (>= 5.5.1), libsqlite3-0 (>= 3.11), libyaz5 (>= 5.19.2)
Installed-Size: 33896
Maintainer: textbrowser@gmail.com
Package: BiblioteQ
Priority: optional
Section: Education
Version: 2018.11.01
Description: BiblioteQ
 Welcome to BiblioteQ!
 A biblioteq.qt5.desktop file will also be installed in /usr/share/applications/.
