[Desktop Entry]
Categories=Library
Comment=BiblioteQ
Exec=/usr/local/biblioteq/biblioteq.qt5.sh
GenericName=BiblioteQ
Icon=/usr/local/biblioteq/book.png
MimeType=text/html;/text/xml;application/xhtml_xml;
Name=BiblioteQ
StartupNotify=true
Terminal=false
Type=Application
