[Desktop Entry]
Categories=Library
Comment=BiblioteQ
Exec=/opt/biblioteq/biblioteq.sh
GenericName=BiblioteQ
Icon=/opt/biblioteq/book.png
MimeType=text/html;/text/xml;application/xhtml_xml;
Name=BiblioteQ
StartupNotify=true
Terminal=false
Type=Application
