[Desktop Entry]
Categories=
Comment=BiblioteQ
Exec=/usr/local/biblioteq/biblioteq.sh
Icon=/usr/local/biblioteq/Icons/book.png
MimeType=text/html;/text/xml;application/xhtml_xml;
Name=BiblioteQ
StartupNotify=true
Terminal=false
Type=Application
