body {background:#AFB3A5;text-align:justify;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:small;text-align:left;color:#555E4F}
h1, h2, h3, h4, h5 {margin:0}
/* Header */
#header {width:700px;height:100px;margin:0 auto;padding:0;border:10px solid #fff;border-bottom:none;background:#788770}
#header h1 {float:left;margin:20px 0 0 20px;font-size:50px;letter-spacing:-7px;color:#323B2E}
#header h2 {float:right;margin:40px 20px 0 0;font-size:18px;letter-spacing:-2px}
a {color:#323B2E;text-decoration:none}
a:hover {color:#555E4F;text-decoration:none}
/* Menu */
#menu1 {float:left;width:160px;margin:0 auto;padding-bottom:20px;font-weight:bold;font-size:14px;color:#323B2E}
#menu1 ul {margin:0;list-style:none;padding:0}
#menu1 li {}
#menu1 a {display:block;width:190px;padding:15px 0;background:#788770;border-top:1px solid #323B2E;border-bottom:1px solid #788770;text-align:center;text-decoration:none;font-weight:bold;color:#fff}
#menu1 a:hover {background:#AFB3A5;border-top:1px solid #555E4F;border-bottom:1px solid #555E4F}
/* Content */
#content {width:700px;margin:0 auto;border:10px solid #fff;border-top:none;background:#E9EAE2}
#colOne {float:left;width:190px;margin-top:20px;padding:0 10px 0 20px}
#colTwo {float:right;margin-top:20px;width:440px;padding:0 20px 0 20px}
#content h2 {margin-bottom:20px;font-size:18px;letter-spacing:-2px}
#footer {width:700px;margin:0 auto;padding-top:20px}
#footer p {text-align:center;padding:0;font-size:10px}
.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:center}