Architecture: arm64
Depends: libpoppler-qt6-3,
	 libpq5,
	 libqt6core6,
	 libqt6gui6,
	 libqt6multimedia6,
	 libqt6network6,
	 libqt6printsupport6,
	 libqt6sql6,
	 libqt6sql6-psql,
	 libqt6sql6-sqlite,
	 libqt6widgets6,
	 libyaz5
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: BiblioteQ
Priority: optional
Section: Database
Version: 2025.05.17
Description: BiblioteQ
 Welcome to BiblioteQ on PiOS64!
 BiblioteQ is governed by a BSD license. Enjoy!
 A biblioteq.desktop file will also be installed in /usr/share/applications/.
