Architecture: amd64
Depends: libpoppler-qt4-4 (>= 0.41), libpq5 (>= 5.8), libqt4-network (>= 4.8.7), libqt4-sql (>= 4.8.7), libqt4-sql-psql (>= 4.8.7), libqt4-sql-sqlite (>= 4.8.7), libqtcore4 (>= 4.8.7), libqtgui4 (>= 4.8.7), libsqlite3-0 (>= 3.16.2), libyaz4 (>= 4.2.30)
Maintainer: textbrowser@gmail.com
Package: BiblioteQ
Priority: optional
Section: Database
Version: 2019.06.06
Description: BiblioteQ
 Welcome to BiblioteQ!
 A biblioteq.desktop file will also be installed in /usr/share/applications/.
